[2020-05-16 14:07] uwethuemmel opened #1 "Maybe throw error with explanation if ts_gtrends is called without keywords?"
Currently

produces

    Downloading data for today+5-y
    Error in interest_over_time(widget, comparison_item, tz) (gtrends_with_backoff.R#70): Status
    code was not 200. Returned status code:400
    Show stack trace

Google Trends is actually queried here. Maybe we should throw an error, instead.

https://github.com/trendecon/trendecon/blob/57b88b3d7847e40c467bc1e1fe746f9f7b09f08c/R/ts_gtrend

[2020-05-21 10:49] uwethuemmel opened #3 "Error (ts_gtrends_windows.R#23): `false` must be a `Date` object, not a `Date` object"
ts_gtrends_windows produces the following error when called as

`ts_gtrends_windows('zara')`

https://github.com/trendecon/trendecon/blob/8da50c5dcf50d9eba9e322c6fc2ef7984610b0ea/R/ts_gtrends_windows.R#L33

[2020-05-21 10:59] christophsax opened #4 "Vignette on `proc_` functions"
The skeleton for the second vignette:

https://github.com/trendecon/trendecon/blob/master/vignettes/daily-series.Rmd

The roxygen headers of the proc functions may be related to this.

[2020-05-21 12:20] ninamuehlebach opened #7 "Default geographic region ts_gtrends"
Currently the default geographic region is Switzerland. Do we want to change this to “” for global queries (geo = "")?

[2020-05-21 12:21] ninamuehlebach commented on #7
(is it the idea to post such questions/suggestions here or better in gtrendecon?)

[2020-05-21 12:26] christophsax opened #8 "Pass `geo = ` through `proc_` functions."
If anyone wants to work on this feel free. Just unassign the others so we are not doing it twice.

[2020-05-21 12:27] christophsax commented on #7
It's good here.

`geo = ""` would be nicer, but we may break some of our scripts in `grtrendecon`.

And we need to make sure our `proc_` functions still work. So we should tackle #8 first.

[2020-05-21 12:32] christophsax commented on #3
For these things, reprexes are very useful: https://reprex.tidyverse.org

[2020-05-21 12:40] christophsax commented on #3
I am looking into it, it is weird, though.

[2020-05-21 12:43] christophsax commented on #3
Here's the reprex:

[code]

<sup>Created on 2020-05-21 by the [reprex package](https://reprex.tidyverse.org) (v0.3.0)</sup>

[2020-05-21 13:01] christophsax commented on #3
And the core problem:

[code]

<sup>Created on 2020-05-21 by the [reprex package](https://reprex.tidyverse.org) (v0.3.0)</sup>

Our `date` is integer after the `rowwise()` `ungroup`, which is not the standard. To make our date standard, we could do:

[code]

[2020-05-21 13:03] ninamuehlebach opened #9 "Downloading on an hourly or minute basis"
Downloading data on an hourly or minute basis throws an error because the time stamp is not saved in the time column

Example:
`ts_gtrends(keyword = "cinema",geo = "CH",time = "now 7-d")`

Error:

We can also just remove this option, i.e., not allow for hourly/minutely date.

[2020-05-21 13:18] #9 closed

[2020-05-21 13:18] christophsax commented on #9
works now:

[code]

<sup>Created on 2020-05-21 by the [reprex package](https://reprex.tidyverse.org) (v0.3.0)</sup>

[2020-05-21 13:35] uwethuemmel commented on #3
To reproduce the error, run `ts_gtrends_windows('zara')`

The error is generated in line 27 of 00fe4077fcbb11e9d2cf119216682b1c3e70ea82
which is above the suggested fix.

The suggested fix is implemented in 371f98d1ef60a71e897ffc79fff62f69c5f7d2c6 which still produces the error.

The workaround which resolves the error is demonstrated in 05f9a08b9109d38a17a98698f1a396bb36c55fe1

I guess it might r

[2020-05-21 13:42] christophsax commented on #3
Ok, it needs this:

[code]

<sup>Created on 2020-05-21 by the [reprex package](https://reprex.tidyverse.org) (v0.3.0)</sup>

We have a corrupt `Date` object. Recreating solves it.

It is not really dplyrs fault that is corrupt. It's our `rowwise() ... ungroup()` magic.

[2020-05-21 13:50] christophsax opened #10 "CRAN checks"
The remaining ones are all linked to documentation. @uwethuemmel, so perhaps something for you?

[code]

[2020-05-21 14:16] ninamuehlebach opened #11 "Introductory Vignette"
I just pushed a first version of the Introductory Vignette.

I was not able to knit the markdown because i don't know how I get `library(trendecon)` to work. Therefore I don't know if it compiles. I was not sure for instance about how to refer to  functions in the text.

What is still missing? should I extend more?

[2020-05-21 14:34] uwethuemmel opened #12 "reprex can't find functions"
_Originally posted by @christophsax in https://github.com/trendecon/trendecon/issues/3#issuecomment-632060180_

Thanks. When trying, I get errors like this as reprex can't find the functions. How do I resolve this?

[code]

<sup>Created on 2020-05-21 by the [reprex package](https://reprex.tidyverse.org) (v0.3.0)</sup>

[2020-05-21 14:39] uwethuemmel opened #13 "proc_keyword_init fails if output directory not present"
`proc_keyword_init(from="2020-01-01")`

Could fix by checking for output directories and creating them if not present.

[2020-05-21 15:09] uwethuemmel commented on #12
Figured it out. Had to include `pkgload::load_all(base_dir)`with the correct base_dir directory.

[2020-05-21 15:09] #12 closed

[2020-05-21 15:11] uwethuemmel opened #14 "proc_keyword_init fails if the from date is in the current year"
[code]

<sup>Created on 2020-05-21 by the [reprex package](https://reprex.tidyverse.org) (v0.3.0)</sup>

[2020-05-21 15:22] #3 closed

[2020-05-21 16:24] christophsax commented on #11
Thanks! Looks good.
@ronaldindergand helps with review and will get back to you.

[2020-05-21 16:39] #13 closed

[2020-05-21 16:39] #14 closed

[2020-05-21 17:34] uwethuemmel opened #16 "Error in data alignment in proc_keyword()"
[code]

<sup>Created on 2020-05-21 by the [reprex package](https://reprex.tidyverse.org) (v0.3.0)</sup>

[2020-05-21 17:46] uwethuemmel commented on #16
The error occurs inside `proc_combine_freq(keyword = keyword)`

[2020-05-21 17:59] uwethuemmel commented on #10
@christophsax
Yes, I can look into that. I suppose I have to run`devtools::check()`?

When doing that currently, I get the following error from the vignette:

[2020-05-21 18:25] christophsax commented on #10
Do you have the latest stuff on master? I don't see a call to `keyword_plot` in `intro.Rmd`

[2020-05-21 19:10] #11 closed

[2020-05-21 19:11] christophsax opened #17 "Turn scripts in `inst/script` into functions"
Instead of `inst/script/clothing.R`, we want to have something like `R/proc_index_clothing.R` (the later is currently just an example).

[2020-05-21 19:14] christophsax opened #18 "Define (and document) the use of system paths"
I think the only place where they appear is now in `path_trendecon`. Perhaps use system variables.

[2020-05-22 09:23] uwethuemmel commented on #10
You were right, I didn't have the latest version. What command did you run to produce the output above? When I run `devtools::check_man()`, my output has much less detail:

[2020-05-22 09:48] christophsax commented on #10
devtools::check() should be good

[2020-05-22 09:48] christophsax commented on #10
i guess devtools::check_man() only checks the problems related to doc

[2020-05-22 11:53] uwethuemmel opened #19 "Obsolete comparison of averages in proc_aggregate_raw"
I commented out code which was not anymore needed. Will have to decide if can be deleted.

https://github.com/trendecon/trendecon/blob/9374cfd60a306afab3a863ba40b284f475f22451/R/proc_aggregate_raw.R#L14-L18

[2020-05-22 11:58] uwethuemmel opened #20 "proc_keyword_latest may save time column in dttm format"
If this happens, get error later in `proc_aggregate_raw` as aggregation of `date` and `dttm` types fails. Strangely, the data downloaded yesterday with `proc_keyword_latest` was in the correct format. Also, only happened with the daily data, not the weekly or monthly.

Example from `Insolvenz_d_2020-05-22.csv`
![image](https://user-images.githubusercontent.com/1291355/82665380-fa9bc880-9c33-11ea-9

[2020-05-22 13:24] uwethuemmel commented on #16
There is no `na` in `m`

[2020-05-22 13:48] uwethuemmel opened #21 "object 'generated_holidays' not found"
Output from

[code]

[code]

[2020-05-22 15:28] uwethuemmel opened #22 "Default path in proc_all.R wrong"
Defaults to `.` not to `..`.

[code]

<sup>Created on 2020-05-22 by the [reprex package](https://reprex.tidyverse.org) (v0.3.0)</sup>

[2020-05-22 15:30] uwethuemmel opened #23 "Default path in proc_all.R wrong"
Defaults to `.` not to `..`.

[code]

<sup>Created on 2020-05-22 by the [reprex package](https://reprex.tidyverse.org) (v0.3.0)</sup>

https://github.com/trendecon/trendecon/blob/f7e51b27470cd24b5cb23884b9a7d3900c04a243/R/proc_all.R#L2

[2020-05-22 15:30] #22 closed

[2020-05-22 16:18] #20 closed

[2020-05-22 16:26] christophsax commented on #10
Only a very few left:

[code]

[2020-05-22 16:47] christophsax commented on #21
Too early, doesn't work yet

[2020-05-22 17:07] #21 closed

[2020-05-22 17:09] christophsax commented on #19
I added a better comment. It is probably good to keep it there, in case we want to investigate what it does.

[2020-05-22 17:09] #19 closed

[2020-05-22 17:20] #10 closed

[2020-05-22 18:18] christophsax commented on #4
This one still needs a bit of work.

[2020-05-28 08:57] uwethuemmel commented on #8
I could work on that tonight

[2020-05-28 09:13] christophsax commented on #8
That would be fantastic, of course! Thanks!

Let me know if you have questions.

[2020-05-28 09:19] christophsax commented on #16
I looked into this. It happens because for such a short time period, the monthly and weekly downloads happen to be daily, which confuses `td()`.

To get monthly data as monthly the span of the shortest draw should be at least 5 years, so it probably only makes sense to start around 2014.

Perhaps we could drop an error msg and link to this issue.

[2020-05-28 16:40] uwethuemmel commented on #16
[code]

still produces the issue.

For now, I am going to throw an error if in `proc_keyword_init` the field `from` is more recent than `"2014-01-01"`.

We can look into that in more detail later.

[2020-05-28 17:27] uwethuemmel opened #25 "Decide how to store data for different locations"
Once we have solved #8 and we can download and process data for different locations, we need to decide how this data should be stored.

[2020-05-28 17:54] uwethuemmel opened #26 "Decide how to store/handle keywords for other countries"
Currently, we have the keywords hardcoded. We need to decide how to deal with this when including other countries.

One option would be to have the keywords in a csv file, where each column corresponds to an index, and the keywords are then included in the columns. In this way, we could easily have different such csv files for different countries.

[2020-05-28 18:27] uwethuemmel commented on #23
Actually, I did not change this because I did not want to break the current processing of downloads.

@angelicambg how is the current folder structure for the data? Are the data directories

- inside the trendecon directory (at the same level, as e.g. the folders `R` and `man`)

or are the data directories

- in the parent directory of trendecon?

[2020-05-28 18:29] uwethuemmel commented on #25
Possible options would be
- have a parent folders per country which then contain `data-raw` and `data`
- use suffixes or prefixes per country for `data-raw` and `data`
- move to a database altogether

[2020-05-28 18:34] uwethuemmel commented on #7
For now, I have addressed #8 in #27 (passing `geo` through `proc_` functions) by keeping with the default "CH" - eventually, we could remove the defaults and only pass in `geo` at the top-most level.

[2020-05-30 12:49] pat-s opened #28 "FYI: CI and pkgdown site"
pkgdown site now lives in the `gh-pages` branch and gets auto-deployed on every commit.

Package is checked and build on all platforms via GitHub Actions.

[2020-05-30 12:49] #28 closed

[2020-06-03 07:37] #8 closed

[2020-06-03 07:37] #16 closed

[2020-06-03 07:47] christophsax opened #29 "proc_keyword_init(indicator_raw = FALSE)"
`proc_keyword_init()` and `proc_keyword_latest()` currently store individual keyword downloads in:

https://github.com/trendecon/data/tree/master/indicator_raw

This is not needed, and `proc_aggregate()` does not make use of them at all (I think). Instead, it calculates a weighted average, using the number of draws as a weight.

The reason why we had this was that we thought `indicator_raw` is use

[2020-06-03 10:19] christophsax commented on #25
Data updates are fully automated and live now in `https://github.com/trendecon/data`. Once #29 is done, we could start using a better structure for more countries. Perhaps a single `data` folder, with a subfolder for each country, which conatins:

[code]
So this would have the same structure as the `indicator` folder, which we still need. This could also be sorted by country:

[code]
Of course, th

[2020-06-03 10:25] christophsax commented on #26
Or how if [proc_trendecon_ch()](https://github.com/trendecon/trendecon/blob/master/R/proc_trendecon_ch.R) would call a function for each keyword? To have a function for each country (or every new project idea) would give us some extra flexibility.

[2020-06-03 10:27] christophsax commented on #23
We should now call `proc_trendecon_ch(".")` in the `data` directory. The data repo is now independent of the location of the others.

[2020-06-03 10:28] christophsax commented on #23
I think this good otherwise and could be closed.

[2020-06-03 10:32] christophsax commented on #18
This is better now.

All paths depend on `path_trendecon()`. If not set, this is equal to the working directory (which may be sufficient, so no need to document the `options()` alternative.)

Three functions in https://github.com/trendecon/trendecon/blob/master/R/path_utils.R all that depends on the directory structure.

[2020-06-03 10:32] #18 closed

[2020-06-03 10:34] christophsax commented on #7
Perhaps we leave `geo = "CH"` for now. Once it becomes more universally used, we can always change.

[2020-06-03 10:34] #7 closed

[2020-06-03 10:47] christophsax commented on #4
@angelicambg Do you have some time to work on this soon?

[2020-06-04 12:17] christophsax opened #30 "in proc_keyword_init, can keyword take a vector?"

[2020-06-04 12:19] christophsax commented on #30
@uwethuemmel I think it should not. It takes a long time to run, and needs some supervision.

[2020-06-04 12:21] uwethuemmel commented on #30
@christophsax As far as I see, it only takes a single keyword:

https://github.com/trendecon/trendecon/blob/c0522d9d22e102bf21c9651861aaa2a0355b1f4c/R/proc_keyword_init.R#L32

[2020-06-04 12:22] christophsax commented on #30
Which is good!

[2020-06-04 12:27] #23 closed

[2020-06-04 12:29] #30 closed

[2020-06-04 14:49] christophsax commented on #29
implemented

[2020-06-04 14:49] #29 closed

[2020-06-04 14:59] christophsax opened #31 "complete proc_trendecon_de()"
`proc_trendecon_de()` may work or may not.

We need to initiate each of the keywords and see if it works

[2020-06-04 15:04] christophsax opened #32 "initiate trendecon keywords for DE"
keywords <- c("Wirtschaftskrise", "Kurzarbeit", "arbeitslos", "Insolvenz")

See [second vignette](https://trendecon.github.io/trendecon/articles/daily-series.html) for how to.

And push results to:

https://github.com/trendecon/data

[2020-06-04 16:56] uwethuemmel opened #33 "proc_keyword with geo stops because it does not find the csv files"
Due to the new folder structure, `proc_keyword` now fails. The responsible line is

https://github.com/trendecon/trendecon/blob/65c6d6d8eea04b049cc033588f14b5419147b883/R/proc_keyword.R#L23

The error:

[code]

<sup>Created on 2020-06-04 by the [reprex package](https://reprex.tidyverse.org) (v0.3.0)</sup>

[2020-06-04 17:53] uwethuemmel commented on #33
The problem was in the handling of directories inside `stop_if_no_data`. Adjusted that now in 41c7bc72f504c76dcdafa5162a8e49ed9b71a600 on separate (not yet merged) branch.

[2020-06-04 18:17] uwethuemmel opened #34 "proc_keyword_latest fails without informative error if proc_keyword_init has not been called"
This is not an issue if `proc_keyword_latest` is called by `proc_keyword`, since `proc_keyword` checks for the presence of initial keyword files and gives an informative error if such files are missing.

However, if `proc_keyword_latest` is called by itself, it fails without informative error. We can decide whether we want it to throw a similar error as `proc_keyword`. The same issue likely applie

[2020-06-05 15:28] #33 closed

[2020-06-05 15:49] christophsax commented on #4
One of the many great features of our CI workflow is that the pkgdown site builds automatically:

https://trendecon.github.io/trendecon/articles/daily-series.html

[2020-06-05 16:06] angelicambg commented on #4
Sorry I didn't have so much time during the week. But this weekend I'll work on this

[2020-06-05 16:27] christophsax commented on #4
No problem @angelicambg. @uwethuemmel  drafted and I think it is almost good already. Perhaps we can start to work on the DE and AT series, and improve the vignette as we move along?

[2020-06-05 16:35] christophsax opened #36 "rewrite proc_trendecon_ch() to not source the scripts."
`proc_trendecon_de()` can be used as a boilerplate.

If done, adjust second vignette on `proc_` functions

[2020-06-05 16:36] christophsax commented on #17
This is better covered by #36

[2020-06-05 16:36] #17 closed

[2020-06-07 18:40] uwethuemmel commented on #36
@christophsax Some of the scripts call `ts_dygraphs`, for example:

https://github.com/trendecon/trendecon/blob/a88ee16d2ac788ba637e53339f0c4909a48c1eb0/inst/script/garden.R#L33

Do you want to keep that?

[2020-06-14 15:36] christophsax commented on #36
No, I don't.

So I thing we are done with this?

[2020-06-14 15:37] #26 closed

[2020-06-14 15:38] christophsax commented on #25
In principle, this should work for Germany now as well.

[2020-06-14 15:38] #25 closed

[2020-06-14 15:38] #36 closed

[2020-06-15 16:30] christophsax commented on #32
@vzei @angelicambg @ronaldindergand @izmartinez @ninamuehlebach

The setup for different countries is ready.

We have now some documentation and everyone should be able to contribute.

If unclear, please help improving the documentation in https://github.com/trendecon/trendecon/blob/master/vignettes/daily-series.Rmd and send a pull request.

@uwethuemmel has written the documentation and knows how

[2020-06-16 11:18] christophsax opened #39 "Error on production"
Probably caused by the new code, we have an error on prod.

https://github.com/trendecon/data/runs/775142543?check_suite_focus=true#step:14:997

@uwethuemmel do you have time to replicate and fix if possible?

[code]

[2020-06-16 11:20] christophsax commented on #39
Or perhaps better let's wait one more day. It looks like some series are longer than others. This may fix itself.

[2020-06-17 07:16] vzei commented on #32
Some feedback on the "Introduction to trendecon" vignette:
-  "The popularity of a search term can be analysed over time, across regions and relative to other search terms." -> I would write "relative popularity" because many people don't know that there are no absolute search numbers. You might even add a sentence spelling this out.
- It would be nice to get an argument for the procedure and some

[2020-06-17 07:48] christophsax commented on #32
Thanks Vera. Could you do a suggestion an PR? :-)

[2020-06-17 11:57] vzei commented on #32
@christophsax I don't understand - a suggestion for which element? These are all suggestions: nothing urgent but things I noted when I looked at it. And one of the comments was not useful at all I realized.
Regarding the first point, we could write:
"The relative popularity of a search term can be compared over time, across regions, and to other search terms. Google does not provide information ab

[2020-06-17 12:05] christophsax commented on #32
You could edit the `.Rmd` file with your suggested changes:

https://github.com/trendecon/trendecon/blob/master/vignettes/intro.Rmd

Perhaps easier to do this in the browser:

<img width="463" alt="image" src="https://user-images.githubusercontent.com/1390827/84895703-03e94b00-b0a3-11ea-80fd-0b3e49b132d8.png">

and do a pull request on a separate branch:

<img width="936" alt="image" src="https://

[2020-06-17 13:52] vzei commented on #32
I suggested some changes and made some comments in the text with suggestions/questions

[2020-06-17 16:01] uwethuemmel opened #40 "include examples of how to use time parameter in ts_gtrends"
Can be done by inheriting from `gtrends` in the roxygen header.

[2020-06-17 16:08] uwethuemmel commented on #40
fixed in e9877c0bcfbfd36189a48cb2d1449d15b6186a40

[2020-06-17 16:08] #40 closed

[2020-06-17 16:20] uwethuemmel commented on #32
@vzei I commented directly in https://github.com/trendecon/trendecon/commit/d1765a3b162d998f3920b35644ef10cba51fe73a

[2020-06-17 21:49] christophsax commented on #39
Works fine again.

[2020-06-17 21:49] #39 closed

[2020-06-19 23:20] christophsax opened #41 "main indicator inverted?"
<img width="899" alt="image" src="https://user-images.githubusercontent.com/1390827/85185402-1676a680-b294-11ea-81dd-565bea4aed93.png">

The was no intention in this, right? Our main indicator is inverted now.

@angelicambg @uwethuemmel

[2020-06-20 07:44] angelicambg commented on #41
no, something happened. I just checked and it changed with the commit in data repo on June 17th. The commit on June 15th was still fine. But since the commits on June 15th and 17th to the trendecon repo are related with [tic.yml](https://github.com/trendecon/trendecon/commit/c9c8f30d863b4cf6c395f36c7902b664825a7cac) and documentation. I'm not sure what happened.

[2020-06-20 08:04] uwethuemmel commented on #41
I think I know why this happens. The indicator now shows positive search frequencies like we have for all the other indicators, whereas previously we had the values inverted:

https://github.com/trendecon/trendecon/blob/946bc93bad3d1f25a4c00166d2c1addd12dd47cf/inst/script/trendecon.R#L16

I've missed that when moving to the new way of processing the indicators. Sorry. Will think about how to best

[2020-06-20 08:19] uwethuemmel commented on #41
@christophsax @angelicambg I made a quick fix in pull request #42

[2020-06-21 16:52] uwethuemmel commented on #41
@christophsax @angelicambg
So far, the main indicator still appears inverted on the website. Does that mean that the update to the code did not work, or has the website not yet been updated with the latest indicators?

[2020-06-21 16:56] christophsax commented on #41
The latest update deleted everything. Mmmm.

<img width="751" alt="image" src="https://user-images.githubusercontent.com/1390827/85230491-d7aa3300-b3f0-11ea-8565-3cee604ba520.png">

[2020-06-21 17:06] christophsax commented on #41
I will have a look

[2020-06-21 17:31] christophsax commented on #41
I think the `ifelse` is the culprit, but it is quite hard to see what it does. It just uses the first value everywhere. Which then causes `ts_scale()` to go nuts, because there is no variation. `if_else()` would have given an error, so another reason to prefer it.

[code]

[2020-06-21 17:36] christophsax commented on #41
pushed a fix, let's hope it works tomorrow.

[2020-06-21 17:44] christophsax commented on #41
This is what was behind:

[code]

<sup>Created on 2020-06-21 by the [reprex package](https://reprex.tidyverse.org) (v0.3.0)</sup>

[2020-06-21 19:19] uwethuemmel commented on #41
I see. Thanks for looking into it.

[2020-06-23 10:58] christophsax commented on #41
seem all good again.

[2020-08-05 16:59] christophsax opened #44 "Polish and use first vignette"
@KKPMW as discussed, can you polish the vignette at https://github.com/trendecon/trendecon/blob/master/vignettes/intro.Rmd?

@ninamuehlebach has already worked on it and can be contacted in case of questions.

@uwethuemmel has worked on the package as well an can be contacted in case of questions as well.

@a1exgo is new on the project and would be glad to use and review the vignette. Perhaps you

[2020-08-06 12:43] KKPMW commented on #44
Will look into it now, have to get familiar with the package first. If there are any guidelines or suggestions from anyone, feel free to share them here. Otherwise I will try to make a judgement myself.

[2020-08-06 18:03] KKPMW commented on #44
Hello @a1exgo , nice getting in touch.

I modified the first vignette, it can be found in this pull request: https://github.com/trendecon/trendecon/pull/45

Talked with @christophsax and he said the plan is for you to read through it and see if it makes sense and is easy to understand. Any comments questions or criticisms are welcome!

[2020-08-06 18:08] KKPMW commented on #44
@christophsax I also added myself as maintainer.

Apparently having several maintainers is fine with R CMD check, so I left both you and me. Seems to only be CRAN policy. There are packages on BioConductor with multiple maintainers, i.e. : https://bioconductor.org/packages/release/bioc/html/a4.html

[2020-08-06 18:13] KKPMW commented on #44
hmmm OK, maybe not (in that package they are written under one field actually). Removed your maintainer status in this case.

[2020-08-06 19:21] a1exgo commented on #44
Hi @KKPMW, thank you, likewise!

I will have a look at it and comment directly in the pull request tomorrow morning.

[2020-08-15 11:12] KKPMW opened #47 "Polish the second vignette"
Clean up and restructure the second vignette: https://github.com/trendecon/trendecon/blob/master/vignettes/daily-series.Rmd

[2020-08-15 18:16] KKPMW opened #50 "'proc_index_clothing.R' - safe to delete?"
I noticed there is a separate function in the package `proc_index_clothing()` that builds the index for clothing keywords.

@christophsax I assume it is deprecated now? Didn't find any place where it is called. Can it be deleted?

[2020-08-15 18:29] KKPMW opened #51 "read_keywords() doesn't have a geo argument and always reads data for 'CH'."

[2020-08-15 18:38] KKPMW commented on #51
@christophsax - seems like `read_keywords()` function didn't accept a geo argument and so always used CH as default. This issue (and pull request) attempts to address this issue so that we can continue with DE preparation.

[2020-08-15 19:22] KKPMW commented on #32
@christophsax this is done now. The processed and raw data is in trendecon/data repo.

[2020-08-15 21:34] #44 closed

[2020-08-17 12:28] christophsax commented on #50
Probably.

[2020-08-17 14:00] #51 closed

[2020-08-17 14:00] #31 closed

[2020-08-17 14:00] #32 closed

[2020-08-17 14:07] KKPMW commented on #50
Deleted by clean up: https://github.com/trendecon/trendecon/pull/54

[2020-08-17 14:07] #50 closed

[2020-08-17 15:30] KKPMW commented on #34
Opinion: `proc_keyword_latest` in the code is only called from within `proc_keyword`. It is not an exported function so no user should run it and expect to get back an informative error in the case of failure.

I think as long as exported functions behave nicely - all is good.

[2020-08-18 10:51] angelicambg commented on #41
Our main indicator for CH is inverted now. @KKPMW and @christophsax the main indicator for all countries will be inverted as well?

[2020-08-18 11:28] christophsax commented on #41
This was not intentional. Can you or @KKPMW revert the website?

@KKPMW any idea what caused it.

[2020-08-18 11:40] christophsax commented on #41
It looks like Austria here:

https://github.com/trendecon/data/blob/master/README.md

[2020-08-18 11:42] KKPMW commented on #41
@christophsax I have no idea what caused it.

My first guess is that this is a stochastic thing because of PC sign uncertainty. But in that case you should have seen some inversions in the past.

Does `ts_prcom()` has some mechanism or rule to choose one sign over the other? If yes, then it's probably something else.

[2020-08-18 11:46] christophsax commented on #41
This looks not like inverted, but like Austria. If signs were inverted, it would go up until 5, not 12.

[2020-08-18 11:53] KKPMW commented on #41
You are correct, I think it's data issue. Seems like the ch/trendecon.csv was replaced with at/trendecon.csv for some reason. Wonder if something is missing in GitHub actions.

Trying to replace the file manually.

[2020-08-18 11:57] KKPMW commented on #41
OK I think I found the issue. Was my mistake.

Here is a fix: https://github.com/trendecon/trendecon/commit/115ce9087b65724d737e2f38d47a12c3574d8902

I change the location only in `path_keyword()` without realising it is in two places.

[2020-08-18 11:57] KKPMW commented on #41
Can we somehow trigger refresh for the website to see if this fixes things?

[2020-08-18 11:58] KKPMW commented on #41
If no I can do it manually

[2020-08-18 12:00] KKPMW commented on #41
What was happening is this:

1. The files for CH were updated and stored in data/ch
2. The trendcon.csv file for DE was updated and stored in data/ch again (overwriting trendcon for CH)
3. The trendonc.csv file for AT was updated and also stored in data/ch (and we ended up with AT being in place of CH).

[2020-08-18 12:08] KKPMW commented on #41
OK I think I managed to rerun the GitHub action jobs. If I am right this should fix the issue.

[2020-08-18 12:41] angelicambg commented on #41
Thanks!! now it's back. I'll push changes for the website

[2020-08-18 12:41] #41 closed

[2020-08-19 18:01] KKPMW opened #55 "PC sign issue when aggregating multiple keywords"
I suspect we have a PCA sign issue that potentially can invert any index.

Here is a short demonstration comparing CH and AT trendecon index raw data and PC1 aggregate:

First - prepare the data lists:

    library(tsbox)

    files <- c("Insolvenz_sa.csv", "Kurzarbeit_sa.csv", "Wirtschaftskrise_sa.csv", "arbeitslos_sa.csv")
    files_at <- file.path("https://raw.githubusercontent.com/trendecon/da

[2020-08-19 20:40] christophsax commented on #55
Fantastic comparison, thanks!

Searches for 'arbeitslos' in Austria seem very whitenoise-ish until recently. If we drop them, do we get the expected result?

@ronaldindergand looked into Austrian 'DESI' at some point. Perhaps he has some ideas?

[2020-08-24 16:40] #4 closed

[2020-08-24 16:40] #47 closed

[2020-09-02 21:37] #55 closed

[2020-10-10 10:02] #34 closed

[2020-12-02 22:45] christophsax opened #57 "Download long-term consistent daily series"
In order to quickly generate a consistent long-term daily time series, it would be useful to have a single function that downloads the daily, the weekly and the monthly time series multiple times and bends them together. The same as we do for the trendecon indices, but with less infrastructure.

Something like:

[code]

This would download the daily, weekly and monthly series multiple times, bend

[2020-12-04 17:22] karoliskoncevicius commented on #57
@christophsax

If I understood this one right - we need to have a function that does `proc_keyword_init()` + `proc_combine_freq()`.

In order not to have daily, weekly, and monthly download code duplicated two times across the functions I think it's best to abstract that in a separate function, then call it from both `proc_keyword_init()` and `ts_gtrends()`. That function should take directory for

[2020-12-04 17:24] karoliskoncevicius commented on #57
Regarding integration of hourly data - I looked at that issue a few times, but got stock at the very beginning - google trends seems to return relative data. So if we get data for last 5 days, the biggest value will always be "100".

So if I look at the same period (5 last days) using hourly data and using daily data - I see that average are very different. So not sure how to combine.

[2020-12-04 17:30] karoliskoncevicius opened #58 "Download hourly data for the last 3 days"
@christophsax I am starting this issue here, instead of gtrendecon.

My current problem is this:

- past 7 day trends:

![Screenshot 2020-12-04 at 7 26 34 PM](https://user-images.githubusercontent.com/7273684/101195160-af915200-3667-11eb-81b9-5ce9c6650dcb.png)

- past month trends:

![Screenshot 2020-12-04 at 7 27 05 PM](https://user-images.githubusercontent.com/7273684/101195170-b324d900-3667-11e

[2020-12-04 17:35] karoliskoncevicius commented on #57
@christophsax

Additional idea: the functions that download the data shouldn't store them, they should just return a prepared tibble. Saving the data to the needed places will then be done by the wrappers called by the user.

[2020-12-23 13:45] karoliskoncevicius commented on #57
@christophsax I added a prototype function for this here: https://github.com/trendecon/trendecon/blob/master/R/ts_gtrends_mwd.R

This is not a final version, but just to check if it does what you expect it to do?

Overall, it currently seems a bit hard to re-use existing functions, since they all want to write the downloaded data to local folders under certain locations. Do you think there is a ne

[2020-12-27 11:01] christophsax commented on #57
Thanks, Karolis! I think your function works reasonably well. As a minimal solution, we probably could add it like that.

Alternatively, we also could use the file based functions:

We could set up the paths in a location that we retrieve via `get_trendecon_path()` (Which probably uses `getOption("trendecon_path")` or defaults to `file.path(tempdir(), "trendecon")`. A user could change the default

[2020-12-27 12:28] christophsax commented on #58
I don't think this too different from the other frequencies. Getting multiple draws and averaging may help. And we will not use the hourly data in the long run. TBD.

[2020-12-31 13:04] christophsax commented on #1
A micro think, @karoliskoncevicius, if you have time at some point.

[2021-01-28 14:04] karoliskoncevicius commented on #58
@christophsax

Added a first attempt at addressing this issue.

First, a few points:

1. gtrends only downloads hourly data with the format `now 7-d`, if we provide a date range instead `2021-01-22 2021-01-28` - daily data is returned for days up to 01-25. So I could not use `ts_gtrends_window()` function, but instead called `ts_gtrends()` directly.

2. hourly data is stored in a separate file wit

[2021-01-31 17:52] karoliskoncevicius commented on #1
Closed by the following pull request: https://github.com/trendecon/trendecon/pull/59

[2021-01-31 17:52] #1 closed

[2021-02-06 14:58] christophsax commented on #57
The ideal solution would be the opposite: The file writing functions should call the pure R functions. But it is too much work to change it, sow we keep it as it is for now.

[2021-02-06 14:58] #57 closed

[2021-02-20 10:56] christophsax commented on #58
This really seems to work! We have now data until yesterday on trendecon.org. Thanks!

@karoliskoncevicius can you close if you think that is good?

[2021-02-20 19:45] #58 closed

[2021-03-02 12:53] ankargren opened #62 "`d` and `d2` are disconnected in `ts_gtrends_mwd()`"
Hi,

Thanks a lot for making your work public! I'm excited to try your approach and your work makes that a lot easier.

I've tried to use the `ts_gtrends_mwd()` function, but when I set `from` to an older date (`2006-01-01`), `d` and `d2` are disconnected by two months. This creates missing values with `tsbox` inside of `tempdisagg::td`, and the function stops because of missing values in `dd`. It

[2021-03-03 07:18] ankargren opened #63 "Keywords with slashes"
A point made by the [OECD Weekly Tracker](http://www.oecd.org/economy/weekly-tracker-of-gdp-growth/) is that it can often be useful to work with *topics* and not raw search terms. In `gtrendsR`, search interest by topic can be retrieved using Google's topic codes ([see here](https://github.com/PMassicotte/gtrendsR/issues/321)). For example, `ts_gtrends("/m/07s_c", geo = "CH")` returns search inter

[2021-03-07 12:29] christophsax commented on #63
Thanks @ankargren! Makes sense to me, and would be good to have this in the package. A pull request would be great.

@karoliskoncevicius, could you review and make sure it does not break anything else? Thanks!

[2021-03-12 10:36] ankargren commented on #62
It seems as if the culprit is `n_windows` in `ts_gtrends_windows()`, which calls `prepare_table_windows()`. The argument is set to `n_windows = 348` in `proc_keyword_init()`, which through`ts_gtrends_windows()` calls `prepare_table_windows()` as

[code]

So is there a reason for hard-coding `n_windows` in `proc_keyword_init()`, or would it be better for setting these dynamically?

[2021-07-07 18:21] FelixZangerl opened #66 "Error in tempdisagg::td(w ~ d, method = "fast", conversion = "mean") : right hand side contains NAs"
Hi. Thank you for making your work public!

I tried to recreate your PES indicator, according to your vignettes and when calling `proc_index` I stumbled upon the following error `Error in tempdisagg::td(w ~ d, method = "fast", conversion = "mean") :
  right hand side contains NAs`. Do you happen to know the source of this error? I also recognized that during the `proc_keyword_init` call I got a fe

[2021-08-24 11:18] johannes97s opened #67 "Bug with proc_index & ts_gtrends_mwd"
Hello,
thank you for providing the R Code for your Index. We tried to get daily data but there occured two bugs.
At first we called
proc_keyword_init("arbeitslos", "DE")
proc_index("arbeitslos", "DE", "arbeitslos_ind").
The first worked well, but after calling the second we get an Error

Fehler: Cannot open file for writing:
'C:\Users\S********\Documents\ifwtrends\raw\de\arbeitslos_d.csv'

but the

[2021-08-25 11:50] johannes97s commented on #66
Hey, i have the same Problem with tempdisagg::td(mm ~ wd, method = "fast", conversion = "mean") when calling ts_gtrends_mwd.
I found the following:
In the Code of td: line 387 ff.
X.dtss <- lapply(X.objects, function(e) tsbox::ts_regular(tsbox::ts_default(tsbox::ts_dts(e)))
The function ts_regular takes a time Series with, lets say weekly rows and spreads it to a daily series with NAs at the missi

[2021-12-21 14:39] FelixZangerl opened #68 "is.character(cookie_url) is not TRUE"
Hi,

I am getting this error recently for every query. I tried it with every `trendecon` command that utilizes `gtrendsR` and it always happens. Unfortunately I fail to trace the error back, because the gtrendsR package works fine on its own.

`ts_gtrends("Rezession")` fails with `is.character(cookie_url) is not TRUE` but
`gtrends("Rezession", time = "today+5-y", geo = "CH")` works fine

Best,
Fel

[2022-01-17 07:13] vrteresa commented on #68
Hi,

I am  also getting this error for every query. @FelixZangerl, have you been able to fix it?

Thanks you!

[2022-01-22 15:56] karoliskoncevicius commented on #68
Hello @vrteresa and @FelixZangerl

I tried investigating this issue but could not replicate. `ts_gtrends("Rezession")` works fine on my setup:

    Downloading data for today+5-y
    # A tibble: 261 × 2
       time       value
       <date>     <int>
     1 2017-01-22     9
     2 2017-01-29     3
     3 2017-02-05     0
     4 2017-02-12     3
     5 2017-02-19     0
     6 2017-02-26     3

[2022-01-24 15:18] FelixZangerl commented on #68
Hi @vrteresa and @karoliskoncevicius
,

I can't reproduce the error and I'm also guessing that the package wasn't up-to-date on my machine. Unfortunately it is easy to run into this problem as packages installed via `install_github()` get updated only when you call the function again.

[2022-01-24 15:21] #68 closed

[2022-01-24 20:08] karoliskoncevicius commented on #67
Seems like this is the same issue as #62

[2022-01-24 20:09] karoliskoncevicius commented on #66
Seems like this is the same issue as #62

[2022-01-25 21:21] #62 closed

[2022-01-25 21:21] #66 closed

[2022-01-25 21:21] #67 closed

[2022-01-25 21:23] karoliskoncevicius commented on #62
@ankargren thank you for reporting the issue - and also your diagnosis of the problem was also spot-on. The number of windows to cover an interval was for some reason, fixed, and as time went on after some date that number was too small to cover the later dates.

This is now adjusted so that windows for all resolutions (daily, weekly, and monthly) are computed dynamically.

[2022-01-25 21:24] karoliskoncevicius commented on #66
@FelixZangerl @johannes97s , thank you for reporting the issue. This is now fixed as a side effect of fixing #62 . The original issue was in `proc_keyword_init` and in `ts_gtrends_mwd` - you can read more about it at #62 .

[2022-01-25 21:26] karoliskoncevicius commented on #67
@johannes97s thank you for reporting the issue. The first issue you reported (about the not-available file name) cannot be reproduced on my end. Can you double check if there are no restricted permissions in the folder you were trying to use?

Regarding the second issue - it is now fixed as a side effect of fixing #62 and you can read more about it there. One note - even thou `proc_keyword_init` w

[2022-01-25 21:28] karoliskoncevicius commented on #66
Also a note: even thou the error is reported by `proc_keyword` - the issue is with `proc_keyword_init` as it produced data with missing days. So, after updating the pacakge, anyone experiencing this error should rerun `proc_keywrod_init`.

[2022-01-30 09:46] karoliskoncevicius opened #70 "Add the possibility to search for categories without specifying a keyword"
Users might want to search for entire categories without specifying the keyword. Here is a example of such a search using google trends interface: https://trends.google.com/trends/explore?cat=614&date=today%205-y

Based on my investigation with `gtrendsR` this can be achieved by doing a search without providing any keyword (leaving keyword = NA). Hence the same approach can be followed by trendeco

[2022-01-30 09:56] karoliskoncevicius commented on #70
NOTE: seems like our `ts_gtrends()` function can already do this, if the keyword is specified as NA - it correctly passes to the `gtrendsR::gtrends()` function:

    res <- ts_gtrends(NA, category=614, geo="")
    tsbox::ts_plot(res)

<img width="1521" alt="Screenshot 2022-01-30 at 11 53 42 AM" src="https://user-images.githubusercontent.com/7273684/151695016-86fb93bc-b731-4bae-9756-34dd7c449200.pn

[2022-01-30 10:45] #70 closed

[2022-01-30 10:50] karoliskoncevicius commented on #63
Hello @ankargren ,

This would certainly be nice to have, but at the moment the issue with filenames would make it complex. We would have to somehow encode: 1) keyword, 2) geo, 3) category, 4) escape slashes within the file name and this would most likely be a breaking change for `proc_keyword_init()` and `proc_keyword()`.

So the decision is to leave it be from now and only reconsider it if real-

[2022-01-30 10:50] #63 closed

[2022-05-23 10:29] wes3985 opened #73 "401 Error after just a handful of searches"
After my 10th Keyword search over ~2 weeks the code no longer runs and is returning a 401 error, I slightly suspect that google may have blocked me however given how infrequently I'm using it (literally just 10 times over 2 weeks) this is a bit surprising. The webpage still works in a browser as well which is a bit inconsistent with google blocking me. Here is my code:

[code]

And I am getting th

[2022-05-23 10:48] wes3985 commented on #73
[code]

[2022-06-06 10:54] karoliskoncevicius commented on #73
I can reproduce the error, looking at it now, will update soon

[2022-06-06 11:27] karoliskoncevicius commented on #73
The issue is likely caused by some other package and is fixed in a newer version.

I didn't track which, but the error disappeared after `update.packages(ask=FALSE)`:

[code]

If you are using macOS and recently updated be sure to also upgrade the clang compiler to 14 version. For me some packages refused to update but all started working with the newest clang.

[2022-06-06 11:28] karoliskoncevicius commented on #73
Changed the tag to "meta" since this is not a bug in `trendecon`. Closing now, but please comment or reopen if it persists.

[2022-06-06 11:28] #73 closed

[2022-06-16 15:13] Je-gh opened #74 "Interpreting the results from the trendecon package"
Dear trendecon developers,

Thank you so much or creating this easy to use R package and for writing a very interesting paper around it!

IF you do not mind, I have some questions about interpreting the output results/graph that the package returns after a google search query. Namely, I am struggling to understand what it means when an observation for the daily data goes below zero or goes above 1

[2022-06-16 15:16] christophsax commented on #74
@karoliskoncevicius, could you have a look at these questions? Thanks a lot!

[2022-06-22 10:34] JacopoCerri opened #75 "Subsetting to a specific temporal window"
Dear all,

I am a postdoc from the University of Sassari (Italy). Currently, I am trying to use the package that you developed, "trendecon" (https://github.com/trendecon/trendecon), to adjust GoogleTrend data by reducing sampling-related variability.
However, I noticed that functions from the package do not have any built-in command to restrict data extraction to a specific temporal window. Whenev

[2022-06-26 18:22] Crypto-nomics opened #76 "Error: cannot parse the supplied time format."
Hi there, thank you so much for your hard work in developing this R package. I have been playing around with different functions within the package but somehow the "proc_keyword_init" function never worked for me even when I was using the example here: https://trendecon.github.io/trendecon/articles/daily-series.html

I am trying to research certain keywords from 2013 to 2020 at a global level, but

[2022-07-01 09:11] karoliskoncevicius commented on #76
Hello @Crypto-nomics , and thank you for reaching out,

Unfortunately I cannot replicate the error on my end, can you give more details about it?

1) When does the error occur - is it during the downloads, or after all the downloading is finished?
2) Which version of R are you using?
3) Are the packages up to date?

My suggestions to try first would be:

1. Install newer version of R, specially if

[2022-07-01 09:14] karoliskoncevicius commented on #75
Hello @JacopoCerri - thank you for reaching out,

The functionality you are interested in is now implemented in one of the development branches. On the condition that it will be approved internally it should reach the master branch soon. If you want to test it out and use it now, feel free to install `trendecon` from https://github.com/trendecon/trendecon/tree/ts_gtrends_mwd_gets_from

[2022-07-01 09:43] karoliskoncevicius commented on #74
Hello @Je-gh and thank you for reaching out,

I will try to answer the questions below:

You are correct here, google data is relative and it returns values between 0 and 100. This makes it so that the values are relative within the investigated time frame. From example, if the google query was for the time window 2006-2022 - one date might get a value of 100, however if we changed to time frame t

[2022-07-01 16:29] karoliskoncevicius commented on #75
@JacopoCerri the `from=` argument is now in the master branch, just update the trendecon package and you should have the desired functionality available. If you have any further comments or problems please reopen this issue, or create a new one as you think appropriate. Have a nice weekend!

[2022-07-01 16:29] #75 closed

[2022-07-02 16:41] Je-gh commented on #74
@karoliskoncevicius Thank you a ton for your extensive and thorough answers, I really appreciate the time you've spent on all of my questions!!! It all makes sense to me now and I do not have any follow-up questions. Thank you for developing the R package and the paper with your team and I wish you all the best with future endeavors!

[2022-07-02 16:42] #74 closed

[2022-07-03 11:12] karoliskoncevicius commented on #76
Hello, I am closing the issue now, but if this persists after updating R and the package versions - please reopen.

[2022-07-03 11:12] #76 closed

[2022-07-03 19:22] Leksa2 opened #78 "Countrycode for the 'whole world'"
Hi there,

First of all, many thanks for creating the trendecon package. It has brought immense value to me by providing supplementary data for my thesis!

Furthermore, I have a question regarding the code argument "country". Is there any chance to create a series including the trend for "the whole world"? At least Google trends provides the option. If I understand correctly, leaving the country a

[2022-07-03 20:55] christophsax commented on #78
@karoliskoncevicius, thanks for having a look.

[2022-07-04 15:04] JacopoCerri commented on #75
Thanks !

[2022-07-08 09:39] karoliskoncevicius commented on #78
Closing this now, but please comment and reopen if `geo=""` does not work as intended.

[2022-07-08 09:39] #78 closed

[2022-07-14 07:28] Leksa2 commented on #78
Thanks! this seems to be working also for proc_keyword_init().

[2022-07-15 11:26] jyotishkarc opened #79 "Oh noes, they don't like us anymore..."
This morning, I was working with the `trendecon` package in R quite well. However, since past few hours, it is showing the "Oh noes, they don't like us anymore..." message again and again. The code chunk that I am trying to run is the following:

[code]
The error that it is showing is the following:
[code]
I tried the same thing from my colleague's computer, and the problem was still there. I feel

[2022-07-15 11:37] jyotishkarc opened #80 "Extract worldwide data using ts_gtrends"
I was going through the documentation of the `trendecon` package in R, and it did not specify what to pass in the `geo` parameter of the `ts_gtrends` function or the `ts_gtrends_mwd` function. It shows an error if I write
[code]
However, if we write `geo = "all"` in the `gtrendsR` function from the `gtrendsR` package, it works correctly. So what exactly should I pass in the `geo` parameter of the

[2022-07-16 05:00] #80 closed

[2022-07-16 05:01] jyotishkarc commented on #80
I got to know that
[code]
solves this problem. Thank you.

[2022-07-16 05:13] karoliskoncevicius commented on #79
Hello @jyotishkarc

This is completely expected - google does not allow to scrape their data endlessly and they start limiting queries based (I think) on the IP address once the number of queries exceed a certain threshold. There are only two solutions as far as I know:

1. Wait and repeat the call another day.
2. Repeat the function call from another IP address.

The fact that your colleague's co

[2022-07-17 04:07] jyotishkarc commented on #79
Thanks for clarifying. Didn't know about this. :)

[2022-07-17 04:07] #79 closed

[2022-07-21 13:04] jyotishkarc opened #81 "Error in `mutate()` in the function ts_gtrends_mwd"
I was trying to use the `ts_gtrends_mwd` function from the `trendecon` package in order to construct a combined daily time series of search volumes for the keywords 'russia ukraine war' and 'russia and ukraine war' for the whole world, as mentioned below:

[code]

However, after some 'Downloading data for ...' messages on the console, I got the following error message:
[code]

Can anyone please he

[2022-07-21 22:23] Leksa2 opened #82 "Skipping seasonal adjustment in proc_index"
Hi,

It seems like the proc_index function has a problem converting geo= ""
keywords (whole world) due to an error "holidays for the geo not found" or something similar,
when the proc_index tries to make seasonal adjustments.

is it possible to skip the seasonal adjustment when having the whole world or a specific country
as the geo argument?  I would need unadjusted series anyways.

Best, Leo

[2022-07-23 17:26] karoliskoncevicius commented on #81
Hello, thank you for reporting this.

For me this worked without errors... But I have a few ideas.

1. Try to update everything to the newest version (this includes the R itself, the trendecon package, and all of it's dependencies). A useful command `update.packages(ask = FALSE)`

2. However, based where the error occurred I suspect that google returned something that we were not anticipating. May

[2022-07-23 17:52] karoliskoncevicius commented on #82
Hello, thank you for reporting,

This indeed doesn't work, currently seasonal adjustment is done with the help of R package `prophet` and it requires a single specific country. So the error you got stated that holiday days for the country named "" (empty string) is not supported.

I added a check to skip seasonal adjustment in such cases, currently awaiting internal review at the pull request #83

[2022-07-23 18:47] karoliskoncevicius commented on #82
Pull request #83 is now merge and live in the master branch. Update the `trendecon` package and seasonal adjustment should be skipped for `geo=""`.

Closing this issue now, but if the issues persists please reopen.

[2022-07-25 02:44] jyotishkarc commented on #81
Thanks for your response. I was already using the latest versions of R and RStudio. Nevertheless, I saw that four packages (including `Rcpp`, `tibble` etc.) needed updates, and I updated those. I changed the date to `2020-06-02` (just a random date), and added a few more keywords. Surprisingly enough, it is working now!

However, it would be good if you can still check if that `mutate()` error occ

[2022-07-25 06:32] Leksa2 commented on #82
The code ran into an error. I reinstalled trendecon and the related packages.

It now reports a missing file that the code itself should write:

*updating keywords*
Error: 'PATH\FirstKeyword_sa.csv' does not exist.

[2022-07-25 08:49] karoliskoncevicius commented on #82
Ah I see, since we skipped the sa step, the file "_sa" is no longer there.

@christophsax - we have a small problem now: pipeline wants to have 'keyword_sa.csv' file, however when I skipped seasonal adjustment for `geo=''` the file is no longer there. As far as I see we have to ways of going about it:

1. Write data under 'keyword_sa.csv', even when seasonal adjustment is skipped.
2. Make the pipe

[2022-07-25 08:52] christophsax commented on #82
Or go back and do a seasonal adjustment without working days if `geo=""`?

That would yield proper, seasonal adjusted values for `geo=""` as well.

[2022-07-25 20:57] Leksa2 commented on #82
Noting here that I'm looking for the possibility to create an index that is not seasonally adjusted, both geo="" and specific countries (I'm trying to create a counterfactual to ad boosted sales for the purpose of studying ad ROI). Therefore, the solution proposed by Christoph likely won't serve this purpose.

If this bug fix won't extend to skipping seasonal adjustment for geo = country, is there

[2022-07-26 19:09] karoliskoncevicius commented on #82
@Leksa2 I see your issue but I am thinking about what behaviour you are after. It seems like you want to turn off seasonal adjustment, but still have the data written under "keyword_sa.csv" as per your previous comment? I think this would introduce some confusion to the package, so I agree with Christoph's solution as default behaviour.

Regarding your needs - I can add an additional parameter "se

[2022-07-26 20:37] karoliskoncevicius commented on #81
@jyotishkarc I finally managed to track this issue, pull request is awaiting approval, once it passes the downloading should become robust against the reported error (500) as well as additional response (429, which I managed to get as well).

[2022-07-27 08:36] Leksa2 commented on #82
Thanks Karolis!

Basically what I'm trying to do is create indexes ('DE', 'US', 'FR',..., "") that are not seasonally adjusted (-->based on keywords that are not sa).

So the proc_index() function first combines daily, weekly and monthly keyword data into intermediate _sa and _mwd files. So i guess the solution here would be to make the function have an option to create the index from _mwd files i

[2022-07-28 19:49] karoliskoncevicius commented on #81
@jyotishkarc the fix is now merged into master, thanks for reporting!

[2022-07-28 19:49] #81 closed

[2022-08-09 13:37] Leksa2 commented on #82
Update: didn't manage to create indexes with the trendecon::: funtions - i got the "error in prcomp.default(x, scale = TRUE, ...) : cannot rescale a constant/zero column to unit variance". It's likely that i made some mistake.

However, I traced the proc_index() and simply changed the "suffix" argument within the read_keywords() from "sa" to "mwd" and that seems to do the trick.

[2022-10-02 01:38] mikenguyen13 opened #85 "Missing "to" date"
Hi,
I am trying to get a keyword search volume for a specified window (from, to). Since some of my date go back to 2008, I don't want to collect data since 2008 to 2022.
The old command "ts_gtrends_windows" allows me to specify a window. But the "ts_gtrends_mwd" command does not allow for specifying a window. I was wondering if you could add this option for this function. Thank you.

[2022-10-08 08:49] karoliskoncevicius commented on #85
Hello @mikenguyen13

This functionality is not implemented in #86 and is waiting internal review. If and one it passes it will be included in the main branch.

Please note that with the new argument some windows will still go beyond the "to" date. This is because we are requesting values in batches, so getting all monthly dates from, say, 2007 to 2012 is still one request, hence if you specify fro

[2022-10-08 14:35] karoliskoncevicius commented on #82
Hello @Leksa2 , just now remembered that this issue was still left unfinished.

The original issue for the error is now resolved by skipping the holiday-adjustment step for unsupported geo ids, as implemented in #87

Regarding your workflow - I think this is the case where using the singular functions one by one makes more sense.

`trendecon` package has several functions that do everything alone,

[2022-10-08 14:38] christophsax commented on #82
Yes, trendecon was designed with a relatively specific workflow in mind. As it wraps the CRAN package [gtrendsR](https://cran.r-project.org/package=gtrendsR), you may want to use it directly, and implement your specific workflow.

[2022-10-08 14:53] karoliskoncevicius commented on #82
Thanks @christophsax .

PR is merged, closing. The discussion can continue if needed; either here - or in a separate dedicated issue.

[2022-10-08 14:53] #82 closed

[2022-10-10 17:28] karoliskoncevicius commented on #85
Note that this functionality is not yet in the main branch. But for the time being you can install trendecon from dev85 branch.

[2022-11-01 03:30] mikenguyen13 opened #88 "Error in ts_gtrends_mwd"
I am having this error when running the ts_gtrends_mwd function

`test <- trendecon::ts_gtrends_mwd(keyword = "nike", from = "2022-10-01")`

Error in `mutate()`:
! Problem while computing `end_date = seq(start_date, length.out = 2, by = windowsize)[2]`.
Caused by error in `seq.Date()`:
! 'from' must be of length 1
Run `rlang::last_error()` to see where the error occurred.

I was wondering if you c

[2022-11-05 18:28] karoliskoncevicius commented on #88
Hello @mikenguyen13 Thank you for reporting the issue.

This seems to be a bug - the code is not accepting such short periods correctly. It tries to calculate the number of windows necessary to cover the interval, and since the interval is 1 month, and the window size is 3 months it assigns "0" windows and hence the error.

Will see what is the best way of fixing it, but for the meantime I assume